 QRadioButton {
    spacing: 2px;
    color: black;
}

QRadioButton::indicator {
    width: 45px;
    height: 30px;
}

QRadioButton::indicator:unchecked {
    image: url(:/img/switch_off.png);
}

QRadioButton::indicator:checked {
    image: url(:/img/switch_on.png);
}

